.comic-description {
  color: #ffffff;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(28, 27, 27);
}

.selection-comics {
  height: 100%;
  background-color: rgb(29, 28, 28);
  padding-left: 20px;
  padding-top: 15px;
  background-color: rgb(28, 27, 27);
}

.selection-comics button {
  margin-bottom: 40px;
  margin-top: 15px;
}

.comic-thumbnail {
  height: 400px;
  background-color: rgb(28, 27, 27);
}

.comic-title {
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  background-color: rgb(28, 27, 27);
}

.comics-card {
  width: 100%;
  background-color: rgb(28, 27, 27);
}

.description-wrapper {
  margin-top: -440px;
  width: 615px;
  height: 100vh;
  margin-left: 280px;
}

.comic-description {
  height: 70px;
  background-color: rgb(28, 27, 27);
}
