.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #ffffff;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

.wrapper img {
  margin-left: 40px;
}
.wrapper span {
  margin-right: 40px;
}

.menu {
  display: flex;
  cursor: pointer;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters:hover {
  color: rgb(238, 22, 20);
}
.comics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comics:hover {
  color: rgb(238, 22, 20);
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites:hover {
  color: rgb(238, 22, 20);
}

.mask {
  margin-bottom: 6px;
}

.book-reader {
  margin-bottom: 6px;
}

.star {
  margin-bottom: 6px;
}
